:root {
  --branding-color: #272142;
  --btn-color: #6c63ff;
  --background-color: #f9f7fe;
  --headings-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--headings-font-family);
  font-size: 95px;
  font-weight: bold;
  color: var(--branding-color);
}
h2 {
  font-family: var(--headings-font-family);
  font-size: 70px;
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 35px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
  font-family: var(--default-font-family);
  font-weight: medium;
}
nav a:hover {
  color: var(--btn-color);
}
nav li.active a {
  color: var(--btn-color);
}
.section-container {
  padding: 65px 25px;
}
.section-container h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--headings-font-family);
}
.section-container h2 {
  font-size: 19px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: var(--branding-color);
}
.section-container img {
  border-radius: 20px;
  width: 650px;
  max-width: 80%;
  margin-top: 35px;
  padding: 0%;
}
.section-container p {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  text-align: left;
}
.section-content {
  margin: 25px 50px;
}

.section-content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding: 0%;
}

.section-content p {
  font-size: 18px;
  text-align: center;
  padding: 0%;
}
.work-project-description {
  margin-right: 100px;
}
.logo img {
  max-width: 100px;
}
.hero {
  text-align: center;
  background: var(--background-color);
  padding: 100px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--branding-color);
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 25px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--branding-color);
}
.btn-branding {
  background: var(--btn-color);
  color: #f9f7fe;
  border-radius: 4px;
  font-size: 17px;
  padding: 12px 18px;
}
.btn-branding-outline {
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  font-size: 17px;
  padding: 12px 18px;
  color: var(--btn-color);
}
.project-description {
  padding: 0 30px;
  text-align: center;
}

.contact-section {
  background: var(--background-color);
  padding: 40px 70px;
  border-radius: 10px;
}

.contact-section p {
  margin: 0%;
}
.contact-section h3 {
  font-size: 46px;
  font-family: var(--headings-font-family);
}
footer {
  margin: 40px;
}

footer .email-link {
  text-decoration: none;
  font-family: var(--default-font-family);
  font-size: 25px;
  color: var(--branding-color);
  transition: all 100ms ease ease-in-out;
  margin-bottom: 40px;
}

footer .email-link:hover {
  color: var(--btn-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--btn-color);
  font-size: 30px;
  border-radius: 45%;
  padding: 6px 10px;
  transition: all 80ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--btn-color);
}
@media (max-width: 850px) {
  .project-description {
    padding: 0;
    text-align: center;
    font-size: 13px;
  }
  .work-project-description {
    margin-left: 70px;
  }

  .work-project-description h3 {
    font-size: 22px;
  }

  .work-project-description p {
    font-size: 17px;
  }
  .section-container {
    text-align: center;
    padding: 0;
  }

  .section-container a {
    font-size: 21px;
  }
  .hero {
    padding: 70px 18px;
  }
  footer.email-link {
    font-size: 20px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  nav a {
    font-size: 15px;
  }
}
